/* Mantém o header fixo no topo com transição */
#header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  transition: top 0.3s;
  z-index: 9999;
}

/* Esconde o header movendo para cima */
#header.hidden {
  top: -80px; /* Ajuste a altura do header */
}

/* Mostrar o header ao passar o mouse */
#header:hover {
  top: 0 !important;
}
